version: "3.9"

services:
  # api:
  #   build:
  #     context: .
  #     dockerfile: docker/api.Dockerfile
  #   env_file: .env
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - rabbitmq

  # worker:
  #   build:
  #     context: .
  #     dockerfile: docker/worker.Dockerfile
  #   env_file: .env
  #   depends_on:
  #     - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:8.0
    container_name: local_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./temp/redis.conf:/usr/local/etc/redis/redis.conf
      - ./temp:/data

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: redis_insight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis